<mat-drawer-container class="auctions-container">

    <mat-drawer-content class="auctions-main">
        <h1 *ngIf="errorMessage">{{errorMessage}}</h1>
        <div *ngIf="isLoading; else auctionsList" class="loading-div">
            <mat-spinner></mat-spinner>
        </div>

        
        <ng-template #auctionsList>
            <h1>Categories</h1>
            <div class="create-category">
                <button (click)="launchCreateCategoryDialog()">Create category</button>
              </div>
            <mat-card *ngFor="let category of categories" class="category-card" class="clear custom">
               <h2 class="mat-h2" style="margin: 0%;">{{category}}</h2> 
               <button mat-icon-button color="warn">
                    <mat-icon>clear</mat-icon>
               </button>
            </mat-card>
        </ng-template>
    </mat-drawer-content>

    <mat-drawer mode="side" opened class="sidebar-drawer">
        <app-sidebar></app-sidebar>
    </mat-drawer>
</mat-drawer-container>